@page
@using System.Security.Claims
@model RecipeFinder.RecipeIndexModel
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Recipes";
    Model.UserId = UserManager.GetUserId(User);
}
<head>
    <link rel="stylesheet" href="~/css/recipeslist.css" />
</head>

<h1>Recipes</h1>

<p>
    <a asp-page="Create">+ Add New Recipe</a>
</p>

<form>
    <p>
        <div>Search by recipe name or by ingredient(s):</div>
        <div>
            <input type="text" placeholder="pepper, hot wings, tacos, garlic" asp-for="SearchString" class="searchInput"/>
            <input class="searchButton" type="submit" value="Search"/>
            <span class="helpToolTip">? <span class="toolTipText">You can use commas between search words. You can search using partially spelled words. Searching will find plural and non-plural spellings of the requested recipe or ingredients. You can remove text and click "Search" to redisplay all recipes.</span></span>
        </div>
    </p>
</form>


@foreach (var item in Model.Recipe)
{
    <h5>
        <a asp-page="./RecipeDisplay" asp-route-id="@item.ID">@Html.DisplayFor(model => item.Title) <a class="eddButtons" asp-page="./Edit" asp-route-id="@item.ID">Edit</a> <span>|</span> <a class="eddButtons" asp-page="./Delete" asp-route-id="@item.ID">Delete</a></a>
    </h5>
}

