@page
@using System.Security.Claims
@model RecipeFinder.RecipeIndexModel
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Recipes";
    Model.UserId = UserManager.GetUserId(User);
}
<head>
    <link rel="stylesheet" href="~/css/recipeslist.css" />
</head>

<h1>Recipes</h1>

<p>
    <a asp-page="Create">Add New Recipe</a>
</p>

<form>
    <p>
        Search by Ingredient: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>


@foreach (var item in Model.Recipe)
{
    <h5>
        <a asp-page="../RecipeDisplay" asp-route-id="@item.ID">@Html.DisplayFor(model => item.Title)</a>
    </h5>
}

