@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<head>
    <link rel="stylesheet" href="~/css/about.css" />
</head>

<h1>@ViewData["Title"]</h1>

<div class="positionAboutInfo">
    <img src="images/codyheadshot.jpg" alt="image of Cody Swanson" />
    <p>RecipeFinder was founded by Cody Swanson. As a senior in his last semester of BYUI-Online Cody needed to complete a capstone project. Majoring in Web Design and Development the idea to create an app that could search out recipes by ingredients that one has on hand was was born.</p>
    <p>This application utilizes .NET Core and Razor Pages. Both of which Cody had never before worked with. While a steep learning curve, Cody was able to utilize knowledge he was synchronously learning from his .NET Software Development class. RecipeFinder is a culmination of the skills learned as Cody pursued further knowledge in regards to Web Design and Development.</p>
</div>