@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <link rel="stylesheet" href="~/css/home.css" />
</head>

<div class="text-center">
    <h1 class="display-4">Welcome<span>to the</span> <span><em class="addTitleColor">RecipeFinder</em></span></h1>
</div>

<figure>
    <figcaption class="myCaptions text-center">Digitize your recipes!</figcaption>
    <a asp-page="Recipes/Index">
        <img class="mySlides" src="images/digitalcookbook.jpg" alt="digital cookbook">
    </a>
</figure>

<figure>
    <figcaption class="myCaptions text-center">Search recipes by ingredients!</figcaption>
    <a asp-page="Recipes/Index">
        <img class="mySlides" src="images/herbs.jpg" alt="herbs">
    </a>
</figure>

<figure>
    <figcaption class="myCaptions text-center">Save and access your favorite recipes!</figcaption>
    <a asp-page="Recipes/Index">
        <img class="mySlides" src="images/cuisine.jpg" alt="finger foods">
    </a>
</figure>


