@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <link rel="stylesheet" href="~/css/home.css" />
</head>
<div class="text-center">
    <h1 class="display-4">Welcome<div>to the</div> <div><em>RecipeFinder</em></div></h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
