.ingredientOrder .removeIngredientButton {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    margin-bottom: 40px;
    display: block;
    background-color: #e75139;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.ingredientOrder button {
    margin-bottom: 20px;
    display: block;
}

.form-control {
    width: 300px;
}

.instructionInput {
    display: block;
    width: 300px;
}

@media only screen and (min-width: 45em) {
    .instructionInput {
        width: 500px;
    }
}

@media only screen and (min-width: 62em) {
    .ingredientOrder {
        width: 900px;
        margin-top: 20px;
    }

    .ingredientOrder input {
        width: 200px;
        display: inline;
        float: left;
        margin-left: 10px;
    }

    .ingredientOrder input:first-of-type {
        margin-left: 0px;
    }

    .ingredientOrder select {
        width: 200px;
        display: inline;
        float: left;
        margin-left: 10px;
    }

    .ingredientOrder textarea {
        width: 200px;
        display: inline;
        float: left;
        margin-left: 10px;
        margin-right: 10px;
    }

    .ingredientOrder button {
        margin-bottom: 20px;
        display: block;
    }
    .ingredientOrder .removeIngredientButton:first-of-type {
        margin-top: -12px;
    }

    .ingredientOrder .removeIngredientButton {
        float: left;
        margin-top: 3px;
    }

    .instructionInput {
        width: 830px;
    }
}