img {
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 #d3d3d3, 0 6px 20px 0 #d3d3d3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -ms-border-radius: 5px;
    border-radius: 5px;
}

figure {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 300px;
}
.addTitleColor {
    color: #e75139;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
h1 {
    color: black;
    text-shadow: none;
}

h1 span {
    display: block;
}

@media only screen and (min-width: 35em) {
    img {
        width: 100%;
    }
    figure {
        width: 400px;
    }
}