h1 {
    color: #e75139;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin-top: 50px;
}

.nav-item {
    margin-left: 20px;
    margin-right: 20px;
}

.nav-item:first-of-type {
    margin-left: 0px;
}

.nav-item:last-of-type {
    margin-right: 0px;
}

.nav-link {
    font-size: 1.2em;
}

.nav-link:hover {
    font-weight: bold;
}

.nav-link:active {
    font-size: 1.1em;
}

body {
    background-image: url(../images/foodsplash-small.jpg);
    -ms-background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-color: #f7f8fa;
}

header {
    background-color: #e75139;
}

.btn-primary {
    background-color: #e75139;
    border-color: #000000;
}

.btn-primary:link {
    background-color: #e75139;
}

.btn-primary:visited {
    background-color: #e75139;
}

.btn-primary:hover {
    background-color: #e75139;
}

.btn-primary:active {
    background-color: #e75139;
}

a {
    color: #e75139;
}

a:hover {
    color: #e75139;
}

@media only screen and (min-width: 64em) {
    body {
        background-image: url(../images/foodsplash-medium.jpg);
    }
}

@media only screen and (min-width: 115em) {
    body {
        background-image: url(../images/foodsplash-large.jpg);
    }
}

@media only screen and (min-width: 125em) {
    body {
        background-image: url(../images/foodsplash-xlarge.jpg);
    }
}